In [1]:
import os
import numpy as np
import pandas as pd
import torch
import os
import json
import pandas as pd
from PIL import Image
from matplotlib.pyplot import imshow
import matplotlib.pyplot as plt
import cv2
import numpy as np
%matplotlib inline
from tqdm import tqdm
import glob
import pickle

In [3]:
!ls -lh

total 2.3G
-rw-rw-r-- 1 core core  1.3M Jul 25 11:20 eda.ipynb
-rw-rw-r-- 1 core core  372K Jul 25 12:35 Is_classifier_42.ipynb
-rw-rw-r-- 1 core core  370K Jul 25 05:24 Is_classifier.ipynb
-rw-rw-r-- 1 core core   14K Jul 26 05:11 merge_df.ipynb
-rw-rw-r-- 1 core core  266M Jul 22 16:57 sub_detect_0722_1.csv
-rw-rw-r-- 1 core core  252M Jul 24 17:01 sub_detect_0724.csv
-rw-rw-r-- 1 core core  157M Jul 25 17:15 sub_is_083vt_0724.csv
-rw-rw-r-- 1 core core  516M Jul 26 04:27 sub_is_42_0726_1.csv
-rw-rw-r-- 1 core core  777M Jul 24 17:06 sub_is_all_label2_0724.csv
-rw-rw-r-- 1 core core  138M Jul 22 17:06 sub_is_th0.01_0723.csv
-rw-rw-r-- 1 core core   33M Jul 22 17:08 sub_is_th0.1_0723.csv
-rw-rw-r-- 1 core core  157M Jul 22 17:20 sub_is_th0.1_all_label2_0723.csv
-rw-rw-r-- 1 core core 1011K Jul 22 16:59 submit-detect.ipynb
-rw-r--r-- 1 core core   81K Jul 25 17:16 submit.ipynb
-rw-rw-r-- 1 core core  880K Jul 26 04:29 submit-is-42.ipynb

In [4]:
csv_files = ['sub_is_42_0726_1.csv', 'sub_is_all_label2_0724.csv',
             #'sub_101_0-50_100boxes_0709_1.csv', 
             #'sub_101_400-500_100boxes_0711_1.csv'
            ]

dfs = [pd.read_csv(x) for x in csv_files]

In [5]:
dfs[0].head()

            ImageId                                   PredictionString
0  21135d5ed0e7a0b7  0.4072160 /m/04bcr3 0.0039612 0.7192280 0.4546...
1  763c72626bf24534  0.7877427 /m/04bcr3 0.6949360 0.8317176 0.9957...
2  7540c162180973b1  0.0602634 /m/04bcr3 0.4956656 0.1982510 0.6183...
3  c4e522dce52cb02f  0.7995391 /m/04bcr3 0.8354495 0.6752291 0.9930...
4  cafcd9496c808085  0.1169820 /m/04dr76w 0.0361476 0.0007013 0.944...

In [11]:
dfs[1].head()

            ImageId                                   PredictionString
0  21135d5ed0e7a0b7  0.3736828 /m/01mzpv 0.0550915 0.7031765 0.3570...
1  763c72626bf24534  0.8036878 /m/04bcr3 0.6860349 0.8172553 0.9960...
2  7540c162180973b1  0.1309885 /m/04bcr3 0.2729363 0.1426241 0.3774...
3  c4e522dce52cb02f  0.0555878 /m/01mzpv 0.7724301 0.6101891 0.7992...
4  cafcd9496c808085  0.0935514 /m/04bcr3 0.0264376 0.0000000 0.9749...

In [6]:
x = None
for d in dfs:
    if x is None:
        x = d.PredictionString
    else:
        x = x.str.cat(d.PredictionString, sep=' ')

In [7]:
dfs[0].PredictionString = x
print(len(dfs[0].iloc[0].PredictionString), len(dfs[1].iloc[0].PredictionString))

14578 8975

In [8]:
dfs[0].head()

            ImageId                                   PredictionString
0  21135d5ed0e7a0b7  0.4072160 /m/04bcr3 0.0039612 0.7192280 0.4546...
1  763c72626bf24534  0.7877427 /m/04bcr3 0.6949360 0.8317176 0.9957...
2  7540c162180973b1  0.0602634 /m/04bcr3 0.4956656 0.1982510 0.6183...
3  c4e522dce52cb02f  0.7995391 /m/04bcr3 0.8354495 0.6752291 0.9930...
4  cafcd9496c808085  0.1169820 /m/04dr76w 0.0361476 0.0007013 0.944...

In [9]:
dfs[0].to_csv('merge_0726_1.csv.zip', index=False, compression='zip')

In [10]:
!kaggle competitions submit -c open-images-2019-visual-relationship -f merge_0726_1.csv.zip -m "submit"

100%|████████████████████████████████████████| 163M/163M [00:12<00:00, 13.6MB/s]
Successfully submitted to Open Images 2019 - Visual Relationship

In [ ]:
!ls

In [100]:
#####
lst = ['Geeks', 'For', 'Geeks', 'is',  
            'portal', 'for', 'Geeks'] 
tmp1 = pd.DataFrame(lst, columns=['t'])
lst2 = ['a', 'b', 'c', 'd',  
            'e', 'f', 'g'] 
tmp2 = pd.DataFrame(lst2, columns=['t'])

lst3 = ['a1', 'b1', 'c', 'd',  
            'e', 'f', 'g'] 
tmp3 = pd.DataFrame(lst3, columns=['t'])
tmp3.head()

    t
0  a1
1  b1
2   c
3   d
4   e

In [102]:
dfs = [tmp1, tmp2, tmp3]
x = None
for d in dfs:
    if x is None:
        x = d.t
    else:
        x = x.str.cat(d.t, sep=' ')

#x = tmp1.t1.str.cat(tmp2.t2, sep=' ').str.cat(tmp3.t3, sep=' ')
print(x)
tmp1.t = x
tmp1.head()

0    Geeks a a1
1      For b b1
2     Geeks c c
3        is d d
4    portal e e
5       for f f
6     Geeks g g
Name: t, dtype: object

            t
0  Geeks a a1
1    For b b1
2   Geeks c c
3      is d d
4  portal e e